rincludes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - routes/
        - database/
        - tests/

    level: 6

    ignoreErrors:
        # Ignore Laravel's magic methods and properties
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder::#'
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Builder::#'
        - '#Call to an undefined method Illuminate\\Database\\Query\\Builder::#'

    excludePaths:
        - vendor/
        - storage/
        - bootstrap/cache/
        - node_modules/
